.btnCon {
  padding: 0;
  margin-top: 4%;
  border-radius: 8px;
}

.activeCon {
  border: 2px solid hsl(26, 100%, 60%);
}

.btnCon,
.btnStyle {
  margin-right: 5%;
}

.btnStyle {
  border-radius: 4px;
}

.btnStyle:hover {
  opacity: 0.5;
}

.activeBtn {
  opacity: 0.3;
}

.mainImg,
.btnStyle:hover {
  cursor: pointer;
}
